[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
python-decouple = "*"
requests-mock = "*"
black = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"
